<app-breadcrumb></app-breadcrumb>
<div class="d-flex justify-content-between align-items-center mb-4 pb-3">
  <h1 class="h5">
    Task management
  </h1>
  <a class="btn btn-primary" [routerLink]="['add']">
    Assign new task
  </a>
</div>
<app-gmap [viewMode]="true"></app-gmap>
<div class="filter-box mb-3">
  <div class="align-items-center d-flex justify-content-between mb-3">
    <div class="dropdown dropdown-filters-container d-inline">
      <button class=" btn btn-outline-primary"
        type="button" data-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="text-14 fa fa-filter text-primary-light"></span>
        <!-- <span class="badge badge-danger"><small>4</small></span> -->
      </button>
    </div>
    <div class="search-group search-custom-filter">
      <input type="text" class="form-control" placeholder="search" />
    </div>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="row">
      <div class="col-12">
        <div class="card col-12 filter p-0 shadow-lg-5">
          <div class="card-header text-center">
            <button type="button" class="close" data-dismiss="dropdown" aria-label="Close">
              <span class="icon-close"></span>
            </button>
            <span class="text-primary d-block text-uppercase">
              <strong>Filters</strong>
              <strong class="text-secondary-blue d-block mt-1">Active Filters (0)</strong>
            </span>
          </div>
          <div class="filter-item">
            <div class="filter-category-body">
              <div class="p-3">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom01">Claim Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom01" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom01">Claim Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom01" />
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom06">Datepicker</label>
                      <input id="validationCustom06" type="text"
                        class="form-control calendar-control calendar-both-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom010">Contract Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom010" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom02">Invoice Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom02" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom040">Stage</label>
                      <select class="form-control" id="validationCustom040">
                        <option selected disabled value="">
                          Select
                        </option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom03">Claim Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom03" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom041">Contract Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom041" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom05">Invoice Number</label>
                      <input type="text" class="form-control" placeholder="" dir="auto" value="25454-5523-521"
                        id="validationCustom05" />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="validationCustom04">Stage</label>
                      <select class="form-control" id="validationCustom04">
                        <option selected disabled value="">
                          Select
                        </option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row justify-content-end">
              <button type="button" class="btn btn-md btn-outline-danger">
                Reset
              </button>
              <button type="button" class="btn btn-md btn-primary">
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-data-table [data]="toursList" [options]="options" [pageSize]="take" (sort)="sort($event)" [count]="count"
  (skip)="getAll(take, $event || skip)"></app-data-table>
