<app-breadcrumb></app-breadcrumb>
<div class="d-flex justify-content-between align-items-center mb-4 pb-3">
  <h1 class="h5">
    Task management
  </h1>
  <a class="btn btn-primary" [routerLink]="['add']">
    Assign new task
  </a>
</div>
<app-gmap [viewMode]="true"></app-gmap>
<div class="filter-box mb-3">
  <div class="align-items-center d-flex justify-content-between mb-3">
    <div class="dropdown dropdown-filters-container d-inline">
      <button class=" btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <span class="text-14 fa fa-filter text-primary-light"></span>
        <!-- <span class="badge badge-danger"><small>4</small></span> -->
      </button>
    </div>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="row">
      <div class="col-12">
        <div class="card col-12 filter p-0 shadow-lg-5">
          <div class="card-header text-center">
            <span class="text-primary d-block text-uppercase">
              <strong>Filters</strong>
              <strong class="text-secondary-blue d-block mt-1">Active Filters (0)</strong>
            </span>
          </div>
          <div class="filter-item">
            <div class="filter-category-body">
              <div class="p-3">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="tourName">Tour name</label>
                      <input type="text" class="form-control" placeholder="tour name"
                      [(ngModel)]="tourName"
                        (change)="buildFilter($event, 'tourName')" id="tourName" />
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="agentName">Agent name</label>
                      <input type="text" class="form-control" placeholder="agent name"
                      [(ngModel)]="agentName"
                        (change)="buildFilter($event, 'agentName')" id="agentName" />
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="tourTypes">Tour types</label>
                      <ng-select class="w-100" [items]="tourTypes" bindLabel="value"
                        [(ngModel)]="filters.tourType" id="tourTypes"
                        [multiple]="true" placeholder="choose tour type">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          {{types[item.value]}}
                        </ng-template>
                        <ng-template ng-label-tmp let-item="item">
                          <span class="px-2">{{types[item.value]}}</span>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="tourStates">Tour state</label>
                      <ng-select class="w-100" [items]="tourStates" bindLabel="value"
                        [(ngModel)]="filters.tourState" id="tourStates"
                        [multiple]="true" placeholder="choose tour state">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          {{states[item.value]}}
                        </ng-template>
                        <ng-template ng-label-tmp let-item="item">
                          <span class="px-2">{{states[item.value]}}</span>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row justify-content-end">
              <button type="button" class="btn btn-md btn-outline-danger" (click)='resetFilters()'>
                Reset
              </button>
              <button type="button" class="btn btn-md btn-primary" (click)="applyFilters()">
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-data-table [data]="toursList" [options]="options" [pageSize]="take" (sort)="sort($event)" [count]="count"
  (skip)="getAll(take, $event || skip)"></app-data-table>
