<table class="table bg-white mb-5">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of options.columns">{{column.name | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let col of options.columns" [class.td-actions.text-right]="!col.field">
        <span *ngIf="col.field && !col.type">{{row[col.field]}}</span>
        <span *ngIf="col.field && col.type === 'agentType'">
          {{agentType[row[col.field]]}}
        </span>
        <span *ngIf="col.type === 'arr'" class="fa fa-external-link cursor-pointer text-20"
          (click)="open(detailsModal, row, col.field)"></span>
        <div class="dropdown" *ngIf="!col.field && !col.name">
          <button class="btn btn-primary btn-block btn-sm" type="button" id="multiDropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu" *ngIf="col.type !== 'templates'">
            <a class="dropdown-item" (click)="editRecord(row?.id)">{{ 'edit' | translate }}</a>
            <a class="dropdown-item text-danger" (click)="confirmDelete(row?.id, deleteConfirmationModal)">{{ 'delete' | translate }}</a>
          </div>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu" *ngIf="col.type === 'templates'">
            <a class="dropdown-item text-danger" *ngIf="row?.active"
              (click)="toggleTemplate(row.id, row.active)">{{ 'deactivate' | translate }}</a>
            <a class="dropdown-item" *ngIf="!row?.active"
              (click)="toggleTemplate(row.id, row.active)">{{ 'activate' | translate }}</a>
          </div>
        </div>
        <span *ngIf="!col.field && col.name" class="fa fa-qrcode cursor-pointer text-20"
          (click)="open(qrModal, row.id)"></span>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center mb-5">
  <ngb-pagination [collectionSize]="count" [(page)]="currentPage" (pageChange)="emitPagination()" [maxSize]="5"
    [rotate]="true" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>

<!-- Modals -->
<ng-template #qrModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title h6 d-flex" id="templatesModalTitle">
      <span class="modal-title-icon bg-primary">
        <span class="fa fa-pencil-square-o"></span>
      </span>
      <span class="px-3 d-flex flex-column">
        {{ 'printBelowBarcode' | translate }}
        <span class="text-secondary">
          {{ 'belowBarcodeHelpYouSaveTime' | translate }}
        </span>
      </span>
    </h5>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center" id="qrCode">
      <qr-code [value]="activeQrCode" size="300" errorCorrectionLevel="Q">
      </qr-code>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('close')">{{ 'cancel' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="printDiv('qrCode')">{{ 'print' | translate }}</button>
  </div>
</ng-template>


<ng-template #detailsModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title h6 d-flex" id="templatesModalTitle">
      <span class="modal-title-icon bg-primary">
        <span class="fa fa-pencil-square-o"></span>
      </span>
      <span class="px-3 d-flex flex-column">
        {{ 'viewBelowData' | translate }}
        <span class="text-secondary">
          {{ 'belowDataHelpYouSaveTime' | translate }}
        </span>
      </span>
    </h5>
  </div>
  <div class="modal-body">
    <div>
      <span *ngFor="let item of activeRow[activeCol]" class="badge badge-primary mx-2 text-14">
        {{isArabic ? item.permission.permissionNameAr : item.permission.permissionNameEn}}
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('close')">{{ 'cancel' | translate }}</button>
  </div>
</ng-template>

<ng-template #deleteConfirmationModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title h6 d-flex">
      {{ 'confirmDelete' | translate }}
    </h5>
  </div>
  <div class="modal-body h-25">
    <div class="d-flex flex-column text-center">
      <span class="fa fa-exclamation-triangle text-64 mb-4 mt-3 text-danger"></span>
      <h3 class="text-capitalize">{{ 'deleteConfirmationMsg' | translate }}</h3>
      <p class="text-20">{{ 'recoverAbility' | translate }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('close')">{{ 'cancel' | translate }}</button>
    <button type="button" class="btn btn-danger" (click)="deleteRecord(recordToDeleteId);modal.close('close')">{{ 'delete' | translate }}</button>
  </div>
</ng-template>
