<table class="table bg-white mb-5">
  <thead>
    <tr>
      <th scope="col" (click)="sorting(column)"
        class="cursor-pointer" [ngClass]="column.sort"
        *ngFor="let column of options.columns">{{column.name | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let col of options.columns">
        <ng-container *ngIf="!col.type">
          {{row[col.field]}}
        </ng-container>
        <ng-container *ngIf="col.type === 'date'">
          {{row[col.field] | date:'medium'}}
        </ng-container>
        <ng-container *ngIf="col.type === 'agent'">
          {{row.agent[col.field]}}
        </ng-container>
        <ng-container *ngIf="col.type === 'tour'">
          {{row.tour[col.field]}}
        </ng-container>
        <ng-container *ngIf="col.type === 'tourType'">
          {{tourType[row[col.field]]}}
        </ng-container>
        <ng-container *ngIf="col.type === 'tourState'">
          <span class="badge"
            [ngClass]="handleBadgeClass(row[col.field])">
            {{tourState[row[col.field]]}}
          </span>
        </ng-container>
      </td>
      <td class="td-actions text-right">
        <div class="dropdown">
          <button class="btn btn-primary btn-block btn-sm" type="button" id="multiDropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
            <!-- <a class="dropdown-item" (click)="editTour(row?.id)">Edit</a> -->
            <a class="dropdown-item text-danger" (click)="deleteTour(row?.id)">{{ 'delete' | translate }}</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center mb-5">
  <ngb-pagination [collectionSize]="count" [(page)]="currentPage"
  (pageChange)="emitPagination()" [maxSize]="5" [rotate]="true"
  [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>
