<table class="table bg-white mb-5">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of columns">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data | slice: (currentPage-1) * pageSize : currentPage * pageSize">
      <td>{{row?.agent.fullNameAr}}</td>
      <td>{{row?.tour.tourType}}</td>
      <td>{{row?.tourDate | date:'medium'}}</td>
      <td>{{row?.tourState}}</td>
      <td>None</td>
      <td>No</td>
      <td class="td-actions text-right">
        <div class="dropdown">
          <button class="btn btn-primary btn-block" type="button" id="multiDropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
            <a class="dropdown-item" (click)="editTour(row?.id)">Edit</a>
            <a class="dropdown-item text-danger" (click)="deleteTour(row?.id)">Delete</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center mb-5">
  <ngb-pagination [collectionSize]="data?.length" [(page)]="currentPage"
  [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>
