<table class="table bg-white">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Name</th>
      <th>Job Position</th>
      <th>Since</th>
      <th class="text-right">Salary</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">1</td>
      <td>Andrew Mike</td>
      <td>Develop</td>
      <td>2013</td>
      <td class="text-right">&euro; 99,225</td>
      <td class="td-actions text-right">
        <div class="dropdown">
          <button class="btn btn-primary btn-block" type="button" id="multiDropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-center">2</td>
      <td>John Doe</td>
      <td>Design</td>
      <td>2012</td>
      <td class="text-right">&euro; 89,241</td>
      <td class="td-actions text-right">
        <div class="dropdown">
          <button class="btn btn-primary btn-block" type="button" id="multiDropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-center">3</td>
      <td>Alex Mike</td>
      <td>Design</td>
      <td>2010</td>
      <td class="text-right">&euro; 92,144</td>
      <td class="td-actions text-right">
        <div class="dropdown">
          <button class="btn btn-primary btn-block" type="button" id="multiDropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
