<app-breadcrumb></app-breadcrumb>
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h5">
    {{ 'create' | translate }} {{ 'agent' | translate }}
  </h1>
</div>
<div class="card shadow">
  <div class="card-body" *ngIf="agent">

    <p class="dashed-border-bottom mb-4 pb-4">
      {{ 'findeBelowInfo' | translate }}
    </p>
    <div class="row form-group">
      <label for="fullNameAr" class="col-2 col-form-label col-form-label-sm">{{ 'nameAr' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'nameAr' | translate }}"
            [(ngModel)]="agent.fullNameAr" type="text" name="fullNameAr">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="fullNameEn" class="col-2 col-form-label col-form-label-sm">{{ 'nameEn' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'nameEn' | translate }}"
            [(ngModel)]="agent.fullNameEn" type="text" name="fullNameEn">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="username" class="col-2 col-form-label col-form-label-sm">{{ 'username' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'username' | translate }}"
            [(ngModel)]="agent.userName" type="text" name="username">
        </div>
      </div>
    </div>
    <div class="row form-group" *ngIf="createMode">
      <label for="password" class="col-2 col-form-label col-form-label-sm">{{ 'password' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'password' | translate }}"
            [(ngModel)]="agent.password" type="password" name="password">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="jobTitle" class="col-2 col-form-label col-form-label-sm">{{ 'jobTitle' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'jobTitle' | translate }}"
            [(ngModel)]="agent.jobTitle" type="text" name="jobTitle">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="mobile" class="col-2 col-form-label col-form-label-sm">{{ 'mobile' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'mobile' | translate }}"
            [(ngModel)]="agent.mobile" type="text" name="mobile">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="email" class="required col-2 col-form-label col-form-label-sm">{{ 'email' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <input class="form-control" placeholder="{{ 'email' | translate }}"
            [(ngModel)]="agent.email" type="text" name="email">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="roles" class="required col-2 col-form-label col-form-label-sm">{{ 'roles' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" [items]="roles$ | async" bindLabel="roleNameEn"
            [(ngModel)]="roleId" bindValue="id"
            [loading]="rolesLoading" [typeahead]="rolesInput$"
            placeholder="{{ 'roles' | translate }}">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="agents" class="required col-2 col-form-label col-form-label-sm">{{ 'supervisor' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" [items]="agents$ | async" bindLabel="fullNameEn"
            [(ngModel)]="agent.supervisorId" bindValue="id"
            [loading]="agentsLoading" [typeahead]="agentsInput$"
            placeholder="{{ 'supervisor' | translate }}">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="company" class="required col-2 col-form-label col-form-label-sm">{{ 'company' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" [items]="company$ | async" bindLabel="companyNameEn"
            [(ngModel)]="agent.companyId" bindValue="id"
            [loading]="companyLoading" [typeahead]="companyInput$"
            placeholder="{{ 'company' | translate }}">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="agentType" class="required col-2 col-form-label col-form-label-sm">{{ 'agentType' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" [items]="agentTypes"
            [(ngModel)]="agent.agentType" placeholder="{{ 'agentType' | translate }}">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              {{agentType[item]}}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              {{agentType[item]}}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="birthdate" class="required col-2 col-form-label col-form-label-sm">{{ 'birthdate' | translate }}</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-transparent text-14"><em class="fa fa-calendar-o"></em></span>
          </div>
          <ngx-date-picker type="text" [(ngModel)]="agent.birthDate" style="width: calc(100% - 38px);"
            name="birthdate" autocomplete="off" placeholder="MM/DD/YYYY"></ngx-date-picker>
        </div>
      </div>
    </div>

    <div class="bg-transparent card-footer dashed-border-top px-0 pt-4 pb-1">
      <button class="btn btn-primary shadow" [disabled]="!agent.userName" *ngIf="createMode" (click)="insertAgent()">
        {{ 'create' | translate }}
      </button>
      <button class="btn btn-primary shadow" *ngIf="!createMode" (click)="updateAgent()">
        {{ 'update' | translate }}
      </button>
    </div>
  </div>
</div>
