<app-breadcrumb></app-breadcrumb>
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h5">
    Create new agent
  </h1>
</div>
<div class="card shadow">
  <div class="card-body">
    <form>
      <p class="dashed-border-bottom mb-4 pb-4">
        Please find the below information
      </p>
      <div class="row form-group">
        <label for="valueAr" class="col-2 col-form-label col-form-label-sm">agent name Ar</label>
        <div class="col-7 d-flex">
          <div class="input-group">
            <input class="form-control" placeholder="agent name Ar"
              [(ngModel)]="agent.valueAr" type="text" name="valueAr">
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label for="valueEn" class="col-2 col-form-label col-form-label-sm">agent name En</label>
        <div class="col-7 d-flex">
          <div class="input-group">
            <input class="form-control" placeholder="agent name En"
              [(ngModel)]="agent.valueEn" type="text" name="valueEn">
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label for="key" class="required col-2 col-form-label col-form-label-sm">agent key</label>
        <div class="col-7 d-flex">
          <div class="input-group">
            <input class="form-control" placeholder="agent key"
              [(ngModel)]="agent.key" type="text" name="key"
              [disabled]="!createMode">
          </div>
        </div>
      </div>
    </form>

    <div class="bg-transparent card-footer dashed-border-top px-0 pt-4 pb-1">
      <button class="btn btn-primary shadow" [disabled]="!agent.key" *ngIf="createMode" (click)="insertAgent()">
        Create
      </button>
      <button class="btn btn-primary shadow" *ngIf="!createMode" (click)="updateAgent()">
        Update
      </button>
    </div>
  </div>
</div>
