<app-breadcrumb></app-breadcrumb>

<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="card shadow rounded-6 border-0 bg-transparent mb-5">
      <div class="card-body p-0 bg-transparent">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-dashed mb-0 cursor-pointer
            d-flex justify-content-between align-items-center"
            *ngFor="let item of settings"
            [routerLink]="[item.url]" [routerLinkActive]="['active']">
            {{item.name}}
            <span class="fa fa-angle-right"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
