<app-breadcrumb></app-breadcrumb>
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h5">
    Create new task
  </h1>
</div>
<div class="card shadow">
  <div class="card-body">
    <p class="dashed-border-bottom mb-4 pb-4">
      Please find the below information
    </p>
    <div class="row form-group">
      <label for="taskType" class="col-2 col-form-label col-form-label-sm">Task type</label>
      <div class="col-7 d-flex">
        <div class="form-check form-check-inline mr-5">
          <input name="taskype" class="form-check-input" [(ngModel)]="tour.tourType" id="tour"
            required checked="" type="radio" value="1">
          <label class="form-check-label" for="tour">Tour</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="taskype" class="form-check-input" [(ngModel)]="tour.tourType"
            id="monitoring" required type="radio" value="2">
          <label class="form-check-label" for="monitoring">Monitoring</label>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="templates" class="col-2 col-form-label col-form-label-sm">Templates</label>
      <div class="col-7 d-flex">
        <ng-select class="w-100" [items]="templates$ | async" bindLabel="tourNameEn" bindValue="id"
          placeholder="Choose template" (change)="chooseTemplate($event)">
        </ng-select>
      </div>
      <!-- <span class="ni ni-bullet-list-67 text-primary border border-primary" data-toggle="modal"
        data-target="#templatesModal"></span> -->
    </div>
    <div class="row form-group">
      <label for="tourName" class="required col-2 col-form-label col-form-label-sm">Tour name</label>
      <div class="col-7 d-flex">
        <input type="text" class="form-control" name="tourName" [(ngModel)]="tour.tourName" id="tourName" maxlength="50"
          placeholder="tour name">
      </div>
      <span class="align-self-center text-14">
        <span>{{50 - (tour.tourName)?.length}}</span> digit
      </span>
    </div>
    <div class="row form-group">
      <label for="tourDate" class="required col-2 col-form-label col-form-label-sm">Tour date</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-transparent text-14"><em class="fa fa-calendar-o"></em></span>
          </div>
          <input ngbDatepicker #d="ngbDatepicker" type="text" class="form-control" [(ngModel)]="tourDate"
            name="tourDate" autocomplete="off" (click)="d.toggle()" id="tourDate" placeholder="MM/DD/YYYY">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="location" class="required col-2 col-form-label col-form-label-sm">Point location</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" [items]="checkPoints$ | async" bindLabel="checkPointNameEn"
            (change)="checkPointsChanged($event)" [(ngModel)]="checkPoints" [multiple]="true" placeholder="location">
          </ng-select>
        </div>
      </div>
      <span class="fa fa-location-arrow cursor-pointer text-primary align-self-center text-20" data-toggle="modal"
        data-target="#locationModal"></span>
    </div>
    <div class="row form-group" *ngIf="checkPoints?.length">
      <label class="col-2 col-form-label col-form-label-sm"></label>
      <div class="col-7">
        <div class="card shadow mb-3" *ngFor="let checkpoint of checkPoints">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex mb-3">
                <span class="fa fa-map-marker"></span>
                <h3 class="h6 ml-2">{{checkpoint.checkPointNameEn}}</h3>
              </div>
              <span class="text-danger fa fa-trash-o cursor-pointer text-16"
                (click)="deleteCheckpoint(checkpoint.id)"></span>
            </div>
            <div class="d-flex">
              <div class="input-group mr-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-transparent text-14">
                    <em class="fa fa-calendar-o"></em>
                    <span class="ml-1">start</span>
                  </span>
                </div>
                <ngx-datetime-picker [(selectedDateTime)]="checkpoint.startDate" name="startDate"
                  (change)="dateTimeChanged($event)" placeholder="choose start time">
                </ngx-datetime-picker>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-transparent text-14">
                    <em class="fa fa-calendar-o"></em>
                    <span class="ml-1">end</span>
                  </span>
                </div>
                <ngx-datetime-picker [(selectedDateTime)]="checkpoint.endDate" name="endDate"
                  (change)="dateTimeChanged($event)" placeholder="choose start time">
                </ngx-datetime-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="tourAgent" class="required col-2 col-form-label col-form-label-sm">Tour agent</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" [items]="agents$ | async" bindLabel="fullNameEn" bindValue="id"
            [(ngModel)]="tour.agentId" placeholder="choose agent">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="captureLocation" class="col-2 col-form-label col-form-label-sm">Capture location</label>
      <div class="col-7 d-flex">
        <div class="input-group">
          <ng-select class="w-100" id="captureLocation" [items]="capturesLookup" bindLabel="agentNameEn" bindValue="id"
            [(ngModel)]="tour.captureLocation" placeholder="choose timelapse">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              Every {{item}} mins
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              Every {{item}} mins
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <label for="taskType" class="col-2 col-form-label col-form-label-sm">Save as template</label>
      <div class="col-7 d-flex">
        <div class="custom-control custom-switch ml-2">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="tour.isTemplate" id="saveTemplate">
          <label class="custom-control-label" for="saveTemplate"></label>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <label for="taskType" class="col-2 col-form-label col-form-label-sm">Save as template</label>
      <div class="col-7 d-flex">
        <div class="form-check form-check-inline flex-grow-1 mr-0">
          <textarea class="form-control" rows="3" [(ngModel)]="tour.adminComment"
            placeholder="Write your comment"></textarea>
        </div>
      </div>
    </div>

    <div class="bg-transparent card-footer dashed-border-top px-0 pt-4 pb-1">
      <button class="btn btn-primary shadow" *ngIf="createMode" (click)="assignTask()">
        Assign
      </button>
      <button class="btn btn-primary shadow" *ngIf="!createMode" (click)="updateTask()">
        Update
      </button>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="templatesModal" tabindex="-1" role="dialog" aria-labelledby="templatesModalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h6 d-flex" id="templatesModalTitle">
          <span class="modal-title-icon bg-primary">
            <span class="fa fa-pencil-square-o"></span>
          </span>
          <span class="px-3 d-flex flex-column">
            You can choose from the below templates
            <span class="text-secondary">
              The below templates can help you to save time.
            </span>
          </span>
        </h5>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Choose</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h6 d-flex" id="locationModalTitle">
          <span class="px-3 d-flex flex-column">
            Please view the location points on the below map
          </span>
        </h5>
      </div>
      <div class="modal-body">
        <app-gmap [viewMode]="true" [markers]="markers"></app-gmap>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between w-100">
          <!-- <div class="d-flex">
            <div class="input-group mr-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-transparent text-14">
                  <em class="fa fa-clock-o mr-1"></em> Start
                </span>
              </div>
              <select class="border-left-0 custom-select shadow-none pl-0" name="startTime" id="startTime"
                [(ngModel)]="startTime">
                <option selected disabled value="">Choose start time</option>
                <option>03.00 PM</option>
              </select>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg-transparent text-14">
                  <em class="fa fa-clock-o mr-1"></em> End
                </span>
              </div>
              <select class="border-left-0 custom-select shadow-none pl-0" name="endTime" id="endTime"
                [(ngModel)]="endTime">
                <option selected disabled value="">Choose end time</option>
                <option>03.30 PM</option>
              </select>
            </div>
          </div> -->
          <div>
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
